.main
{
	padding-top: 50px;
	min-height: 90vh;
	position: relative;
}
.article__header
{
	padding-bottom: 55px;
}
.article-title
{
	padding-bottom: 30px;
	color: #cc2a41;
	font-size: 24px;
}
.article-metadata__title,
.article-metadata__subtitle
{
	color: #666;
	font-size: 13.6px;
}
.tag__link
{
	border-bottom:1px solid;
	border-color: #666;
	color: #666;
	font-size: 13.6px;
}
.article-metadata__item
{
	display: flex;
	padding-bottom: 5px;
}
.article-metadata__title
{
	padding-right: 10px;
}
.tag-body
{
	display: flex;
	flex-wrap:wrap;
}
.tag__link-body
{
	padding-right: 10px;
}
.section
{
	padding-bottom: 30px;
}
.section__title-body
{
	padding-bottom: 30px;
}
/*.sectyion-title
{
	font-size: 16px;
}*/
.hashtag
{
	color: #cc2a41;
}

.section__desc
{
	color: #22272a;
	font-size: 14px;
	text-align: justify;
	line-height: 1.725;
	overflow-wrap: break-word;
	word-break: break-word;
	padding-bottom: 10px;
}