@media (min-width: 480px)
{
	p 
	{
    	text-align: justify;
    	text-rendering: geometricPrecision;
	}
}
@media (max-width: 1210px)
{
	.aside-body,
	.aside
	{
    	display: none;
	}
}
@media (max-width: 721px)
{
	.body
	{
    	padding: 0 15px;
	}
}
@media (max-width: 650px)
{
	.footer-items
	{
    	flex-direction: column;
	}
	.footer-copyright
	{
		padding-bottom: 15px;
	}
	.menu-box 
	{
    	width: 100%;
	}
}
 
@media (max-width: 412px)
{
	.footer__menu-body-items
	{
    	flex-direction: column;
	}
	.footer__menu-item
	{
		padding-right: 0px;
   		margin-right: 0px;
    	margin-bottom: 20px;
    	border-right: none;
	}
}